<div class="container">
        <h1 class="text-primary fw-bolder">Edit Profile</h1>

        <div class="row g-3 mt-3 fw-bold">
            <div class="col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control " disabled id="firstName" [value]="profileData['firstName']">
              </div>
              <div class="col-md-6">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" disabled id="lastName" [value]="profileData['lastName']">
              </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control " disabled id="inputEmail4" [value]="profileData['email']">
            </div>
            <div class="col-12">
              <label for="phoneNumber" class="form-label">Phone Number</label>
              <input [(ngModel)]="profileData['phone']" type="number" class="form-control" id="phoneNumber" [value]="profileData['phone']" placeholder="Enter Phone">
            </div>
            <div class="col-md-6">
              <label for="userType" class="form-label">Type</label>
              <input type="text" class="form-control" id="userType" [value]="profileData['type']" disabled>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary fw-bold" (click)="onEditProfile()">Update Profile</button>
            </div>
          </div>
</div>
