<div *ngIf="profileData!=null" class="container">
    <h1 class="fw-bold text-primary">Basic Profile</h1>
    <div class="d-flex flex-column align-items-center">
        <img class="rounded-circle" src="../../../assets/Ellipse 2.jpg" alt="">
        <p class="mt-2 fw-bold fs-3 text-capitalize text-black-50">{{profileData['firstName']}} {{profileData['lastName']}}</p>
    </div>

    <div class="mt-3">
        <div class="row">
            <div class="col-1 fw-bold fs-5">
                <span class="text-danger">Name</span>
            </div>
            <div class="col-10">
                <p class="fw-bold text-capitalize fs-5">:&nbsp;&nbsp;&nbsp;&nbsp;{{profileData['firstName']}} {{profileData['lastName']}}</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-1 fw-bold fs-5">
                <span class="text-danger">Email</span>
            </div>
            <div class="col-10">
                <p class="fw-bold fs-5">:&nbsp;&nbsp;&nbsp;&nbsp;{{profileData['email']}}</p>
            </div>
        </div>

        <div *ngIf="profileData['phone']!=null" class="row">
            <div class="col-1 fw-bold fs-5">
                <span class="text-danger">Phone</span>
            </div>
            <div class="col-10">
                <p class="fw-bold fs-5">:&nbsp;&nbsp;&nbsp;&nbsp;{{profileData['phone']}}</p>
            </div>
        </div>


        <div class="row">
            <div class="col-1 fw-bold fs-5">
                <span class="text-danger">Type</span>
            </div>
            <div class="col-10">
                <p class="fw-bold fs-5 text-capitalize">:&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge bg-success rounded-pill">{{profileData['type']}}</span></p>
            </div>
        </div>
        
    </div>
</div>