<!-- CUSTOMER -->
<nav *ngIf="type == 'customer' " class="sticky-lg-top navbar navbar-light navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid fw-bolder">
    <a class="navbar-brand text-primary" routerLink="/dashboard/properties">HomeMavens(CUSTOMER)</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" aria-current="page" routerLink="/home/user/profile">Profile</a>
        <a class="nav-link" routerLink="/home/property/property-list">Property</a>
        <a class="nav-link" routerLink="/home/property-requirement/property-requirement-list">Property Requirement</a>
      </div>
      <div class="d-flex">
        <button (click) = "onLogout()" class="btn btn-danger btn-sm fw-bold">Logout</button>
      </div>  
    </div>
  </div>
</nav>



<!-- AGENT -->
<nav *ngIf="type == 'agent' || type == 'owner' " class="sticky-lg-top navbar navbar-light navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid fw-bolder">
      <a class="navbar-brand text-primary" routerLink="/dashboard/properties">HomeMavens</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link" aria-current="page" routerLink="/home/user/profile">Profile</a>
          <a class="nav-link" routerLink="/home/property/property-list">Property</a>
          <a class="nav-link" routerLink="/home/property-requirement/property-requirement-list">Property Requirement</a>
        </div>
        <div class="d-flex">
          <button (click) = "onLogout()" class="btn btn-danger btn-sm fw-bold">Logout</button>
        </div>  
      </div>
    </div>
</nav>

<div class="container-fluid d-flex flex-column justify-content-between">
    <router-outlet></router-outlet>
  </div>
<footer class="page-footer font-small pt-4 bg-primary text-white z3">

    <div class="container text-md-left">
  
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="fw-bolder fs-3 text-start">HomeMavens</h5>
          <p class="text-start">HomeMavens is a new home rental platform that makes it easier to find your new home without paying any brokerage. Use our verified listing to ensure you find your dream home by contacting the owners directly. In case you cannot find a property you are looking for, please post a requirement and we'll send you email notification with properties matching your requirements.</p>
  
        </div>
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <div class="col-md-3 mb-md-0 mb-3">
        </div>
      
        <div class="col-md-3 mb-md-0 mb-3">
  
          <h5 class="text-uppercase fs-4">Contact Us</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="text-white text-decoration-none">Facebook</a>
            </li>
            <li>
              <a class="text-white text-decoration-none">LinkedIn</a>
            </li>
            <li>
              <a class="text-white text-decoration-none">YouTube</a>
            </li>
            <li>
              <a class="text-white text-decoration-none">Instagram</a>
            </li>
          </ul>
  
        </div>
    
      </div>
    
    </div>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a class="text-white text-decoration-none fw-bold">HomeMavens.com</a>
    </div>
  
  </footer>
  