<div class="modal-header">
    <h4 class="modal-title text-capitalize fw-bold">{{property['buildingName']}}</h4>
    <button type="button" class="close btn btn-danger" aria-label="Close" (click)="closeDismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div *ngIf="property['images'].length>=1" class="carousel-item active ">
            <img [attr.src]="property['images'][0]" class="d-block w-100" alt="...">
          </div>

          <div *ngIf="property['images'].length>=2" class="carousel-item ">
            <img [attr.src]="property['images'][1]" class="d-block w-100" alt="...">
          </div>

          <div *ngIf="property['images'].length>=3" class="carousel-item ">
            <img [attr.src]="property['images'][2]" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
    </div>

    <div *ngIf="property.length!=0" class="container mt-4">
        <h2 class="fw-bolder text-primary text-center my-3">Property Details</h2>
        <div class="row">
          <div class="col-md-6">
            <p class="fs-5 fw-bold">Building Name : <span class="fw-light">{{property['buildingName']}}</span></p>
          </div>
          <div class="col-md-6">
            <p class="fs-5 fw-bold">Flat No : <span class="fw-light">{{property['flatNo']}}</span></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <p class="fs-5 fw-bold">BHK : <span class="fw-light">{{property['bhk']}}</span></p>
          </div>
          <div class="col-md-6">
            <p class="fs-5 fw-bold">Built Up Area : <span class="fw-light">{{property['builtUpArea']}}</span><sub>sq.ft</sub></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <p class="fs-5 fw-bold">Carpet Area : <span class="fw-light">{{property['carpetArea']}}</span><sub>sq.ft</sub></p>
        </div>
          <div class="col-md-6">
            <p class="fs-5 fw-bold">Property Type : <span class="fw-light">{{property['propertyType']}}</span></p>
        </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <p class="fs-5 fw-bold">Price : <span class="fw-light">{{property['price']}}</span></p>
        </div>
          <div class="col-md-6">
            <p class="fs-5 fw-bold">Street : <span class="fw-light">{{property['street']}}</span></p>
        </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <p class="fs-5 fw-bold">City : {{property['city']}}</p>
        </div>
        </div>

        <hr>

        <h2 class="fw-bolder text-center text-primary my-3">Seller Details</h2>

        <div class="row">
          <div class="col-md-6">
            <p class="fs-5 fw-bold">First Name : <span class="fw-light">{{property['firstName']}}</span></p>
        </div>
          <div class="col-md-6">
            <p class="fs-5 fw-bold">Last Name : <span class="fw-light">{{property['lastName']}}</span></p>
        </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <p class="fs-5 fw-bold">Email : <span class="fw-light">{{property['email']}}</span></p>
        </div>
          <div class="col-md-6">
            <p class="fs-5 fw-bold">Phone : <span class="fw-light">{{property['phone']}}</span></p>
        </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <p class="fs-5 fw-bold">Type : <span class="fw-light">{{property['type']}}</span></p>
        </div>
        </div>

        
        <div *ngIf="role == 'customer'" class="container">
          <hr>
          <h2 class="fw-bold text-primary">Feedback</h2>
          
          <textarea [(ngModel)]="propFeedback['feedback']" name="feedback" id="feedback" cols="30" rows="5" class="form-control" placeholder="Enter Feedback"></textarea>
          
          <div class="form-group mt-3 w-25">
            <label for="rating">Ratings</label>
            <select [(ngModel)]="propFeedback['ratings']" class="form-control">
              <option *ngFor="let item of [1,2,3,4,5]" [value]="item">{{item}}</option>
            </select>
          </div>
          <button (click)="postFeedback()" class="btn btn-outline-primary mt-3">Post</button>
        </div>

        <hr>

        <h2 *ngIf="property['feedback'].length != 0" class="fw-bolder text-center text-primary my-3">Customer Reviews</h2>

        <dl *ngFor="let feed of property['feedback']">
            <dt class="fw-bolder text-dark">{{feed['firstName']}} {{feed['lastName']}}</dt>
            <dd>{{feed['feedback']}}</dd>
        </dl>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeDismiss()">Close</button>
</div>