
<div class="row" style="margin-top: 50px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 class="fw-bolder text-center text-primary">Signin</h1>
      <div class="form my-4">
        <div class="form-group my-3">
          <label class="fw-bold" for="">Email</label>
          <input [(ngModel)]="email" type="email" class="form-control fw-bold" placeholder="Enter Email">
        </div>
        <div class="form-group my-3">
          <label class="fw-bold" for="">Password</label>
          <input [(ngModel)]="password" type="password" class="form-control fw-bold" placeholder="Enter Password">
        </div>
        <div class="form-group my-3">
          <button (click)="onLogin()" class="btn btn-outline-primary fw-bold">Login</button>
          <a routerLink="/auth/signup" class="link-primary text-decoration-none float-end fw-bold">Create an account</a>
        </div>
      </div>
    </div>
  <div class="col-md-4"></div>
</div>


